<div class="center jumbotron">
  <div class="card-tag">
<h1><%= @gossip.anonymous_gossiper %></h1>
<h2><%= @gossip.content %></h2>
<p><%= @gossip.comments %></p>
<i>Created, <%= @gossip.created_at.to_date %></i><br>
<%= link_to "Add comment", '/comments/new', class: "btn btn-dark" %>
</div>
